<div class="header">
  {% if current_user.is_authenticated %}
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
    </div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="{{ url_for('home.home') }}" class="nav-link px-2 link-secondary">Accueil</a></li>
      <li><a href="{{ url_for('home.show_tasks') }}" class="nav-link px-2 link-secondary">Tâches</a></li>
    </ul>

    <div class="col-md-3 text-end">
      {% set onclick_url = url_for('authentification.logout') %}
      <button type="button" class="btn btn-secondary btn-sm"
        onclick="window.location.href='{{ onclick_url }}'">Déconnexion</button>
    </div>
  </header>
  {% else %}
  <br>
  <br>
  {%endif%}
</div>