{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

{% if need_map %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
{% endif %}
{% endblock %}


{% block scripts %}
{{ moment.include_moment() }}
{{ moment.locale("fr") }}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

{% if need_map %}
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
{% endif %}
{% endblock %}


{% block content %}
<div class="container">
    {% include "_header.html" %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <section class="flash-message">
        <div class="content">
            <div class="row">
                {% for category, message in messages %}
                <div class="col">
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
    {% endwith %}
    <div class="full-container">
        <section class=" top-container">
            {% block top_container %} {% endblock %}
        </section>
        <section class="main-container">
            {% block main_container %}{% endblock %}
        </section>
    </div>
</div>
{% endblock %}