.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
    border-style: solid;
    padding: 30px;
}

form {
    gap: 20px;
    justify-content: center;
}