{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block main_container %}
<div class="form-content">
    <form class="form form-horizontal" method="post" role="form" id="myform">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens=" only") }}

        {{ wtf.form_field(form.type) }}
        {{ wtf.form_field(form.name) }}
        {{ wtf.form_field(form.superficie) }}
        {{ wtf.form_field(form.lat) }}
        {{ wtf.form_field(form.long) }}
    </form>
</div>
<div class="button-div">
    <button type="submit" form="myform" class="btn btn-success">
        Valider
    </button>
    {% if current_field %}
    <button type="button" class="btn btn-danger" onclick=ConfirmDelete()>
        Supprimer
    </button>
    {% endif %}
</div>

<script>
    function ConfirmDelete() {
        var result = confirm("Supprimer ce terrain ?");
        if (result) {
            var delete_url = "{{ url_for('home.delete_field', field_id=current_field.id) }}";
            window.location.href = delete_url
        }
    }


</script>
{% endblock %}