{% extends "base.html" %}
{% set need_map = true %}

{% block main_container %}
<div id="map" class="w-100 h-75"></div>

<script>
    // Création de la map
    var map = L.map('map').setView(["{{ exploitation.lat }}", "{{ exploitation.long }}"], 13);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    // Ajouts et modification des marqueurs
    var iconField = L.icon({
        iconUrl: 'https://cdn-icons-png.flaticon.com/128/2190/2190158.png',
        iconSize: [30, 30],
    });
    var iconExp = L.icon({
        iconUrl: 'https://cdn-icons-png.flaticon.com/128/6610/6610122.png',
        iconSize: [30, 30],
    });


    {% for field in field_list %}
    var update_url = "{{ url_for('home.create_update_field', field_id=field.id) }}";
    var detail_url = "{{ url_for('home.show_tasks', field_id=field.id) }}";

    var html_content = "{{ field.name }} <br>"
    var html_content = html_content + "<a href=" + update_url + "> Modifier </a> <br>"
    var html_content = html_content + "<a href=" + detail_url + "> Historique & Tâches </a> <br>"

    L.marker([{{ field.lat }}, {{ field.long }}], { icon: iconField }).addTo(map).bindPopup(html_content)
    {% endfor %}

    L.marker(["{{ exploitation.lat }}", "{{ exploitation.long }}"], { icon: iconExp }).addTo(map).bindPopup('{{ exploitation.name }}')

    // Permet le clique sur la carte (efface le marqueur précédent)
    var marker = null;
    map.on('click', function (e) {
        if (marker !== null) {
            map.removeLayer(marker);
        }

        var coord = e.latlng;
        var lat = coord.lat;
        var lng = coord.lng;
        var href_str = "{{ url_for('home.create_update_field') }}?latitude=" + lat + "&longitude=" + lng;

        marker = L.marker(coord).addTo(map).bindPopup("Ajouter un <a href=" + href_str + ">nouveau terrain</a>").openPopup();
    });

</script>

{% endblock %}