{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('home.static', filename='css/tasks.css' ) }}">
{% endblock %}


{% block main_container %}
<div class="form-content">
    <form class="form form-horizontal" method="post" role="form" id="myform">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens=" only") }}

        {{ wtf.form_field(form.date) }}
        {{ wtf.form_field(form.field_id) }}
        {{ wtf.form_field(form.comment) }}
        {{ wtf.form_field(form.is_done)}}
    </form>
    <button type="submit" form="myform" class="btn btn-primary btn-lg btn-block" style="width: 100%;">
        Nouvelle tâche
    </button>
</div>
{% set onclick_url = url_for('home.show_tasks') %}

<br>
<br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Terrain</th>
            <th scope="col">Editeur</th>
            <th scope="col">Commentaire</th>
            <th scope="col">Terminée</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks_list %}
        <tr>
            <th scope="row">{{ task.date }}</th>
            <td>{{ task.field.name }}</td>
            <td>{{ task.editor.name }} {{ task.editor.surname }}</td>
            <td>{{ task.comment }}</td>
            <td>
                {% if task.is_done %}
                <button type="button" class="btn btn-success">Fait</button>
                {% else %}
                <button type="button" class="btn btn-warning">En attente</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}