body {
    background: center / contain no-repeat url("../upload/background.jpg");
    background-size: cover;
    font-weight: bolder;
}


.full-container {
    width: 30%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5%;
}

button {
    width: 100%;
}

.main-container>* {
    margin: 5px;
}

form {
    width: 100%;
    text-align: center;
}