body {
    background: center / contain no-repeat url("../upload/background.jpg");
    background-size: cover;
    font-weight: bolder;
}


.full-container {
    width: 100%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5%;
}


form,
.localisation-content {
    width: 50%;
}

.map-content {
    height: 90%;
}

.main-container>* {
    margin: 5px;
}

.form-content {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

button {
    width: 100%;
}