{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('authentification.static', filename='css/login.css' ) }}">
{% endblock %}


{% block main_container %}
<div class="form-content">
    <form class="form form-horizontal" method="post" role="form" id="myform">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens=" only") }}
        {{ wtf.form_field(form.name, style="text-align: center;") }}
        {{ wtf.form_field(form.password, style="text-align: center;") }}
    </form>
</div>
<button type="submit" form="myform" class="btn btn-primary btn-lg btn-block">
    Connexion
</button>
<br>
{% set onclick_url = url_for('authentification.register') %}
<button type="button" class="btn btn-secondary btn-lg btn-block" onclick="window.location.href='{{ onclick_url }}'">
    Créer un compte
</button>
{% endblock %}