{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set need_map = true %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('authentification.static', filename='css/register.css' ) }}">
{% endblock %}


{% block main_container %}
<div class="form-content">
    <form class="form form-horizontal" method="post" role="form" name="myform" id="myform"
        onsubmit="return FormIsValid()">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

        {{ wtf.form_field(form.email, style="text-align: center;") }}
        {{ wtf.form_field(form.name, style="text-align: center;") }}
        {{ wtf.form_field(form.surname, style="text-align: center;") }}
        {{ wtf.form_field(form.password, style="text-align: center;") }}
        {{ wtf.form_field(form.password2, style="text-align: center;") }}
        {{ wtf.form_field(form.exploitation_name, style="text-align: center;") }}
        {{ wtf.form_field(form.exploitation_type, style="text-align: center;") }}
    </form>
    <div class="localisation-content">
        <p> Emplacement de l'exploitation :</p>
        <div class="map-content">
            <div id="map" class="w-100 h-100"></div>
        </div>
    </div>
</div>
<br>
<button id="submit-btn" type="submit" form="myform" class="btn btn-primary btn-lg btn-block" disabled>
    Inscription
</button>


<script>
    var map = L.map('map').setView([48.112030, -1.680548], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);


    var marker = null;
    map.on('click', function (e) {
        if (marker !== null) {
            map.removeLayer(marker);
        }

        var coord = e.latlng;
        var lat = coord.lat;
        var lng = coord.lng;
        var href_str = "{{ url_for('authentification.register') }}?latitude=" + lat + "&longitude=" + lng;

        document.myform.action = href_str;
        document.getElementById("submit-btn").disabled = false;
        marker = L.marker(coord).addTo(map);
    });
</script>
{% endblock %}